# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs & temp
logs/
*.log
state.json
qemu.pid
report.txt
report.md

# Artifacts
*.qcow2
ova_unpack/

# Homebrew cache
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
